<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="true">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&amp;display=swa">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="css/tailwind.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Weather Analytics</title>
</head>

<body class="bg-gray-100 dark:bg-dark-main">
  <%- include('../components/navbar.ejs') -%>
    <main class="dark:text-dark-txt flex">
      <main-left class="mx-2">
        <%- include('../components/sideCard.ejs') -%>
      </main-left>

      <main-center>
        <%- body -%>
      </main-center>

      <main-right class="mx-2">
        <%- include('../components/sideCard_right.ejs') -%>
      </main-right>
    </main>
    <script src="js/jsScript.js" defer=""></script>
    <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>