<style>
.card-wrapper{
    display: flex;
}
</style>
<div class="aqi-card ">
  <div style="display: auto;">
      <div class="w-full h-auto rounded-md bg-light-b">
          <div class="row">
              <div class="aqi-heading">
                  <h1>Air Quality in Dhaka</h1>
                  <p>Air Quality index AQI and PM 2.5 air pollution in Dhaka</p>
              </div>
          </div>

          <div class="row">
              <div id="aqiColor" class="p-3 mb-2" style="background-color: red;">
                  <div class="d-flex flex-row mb-3 justify-content-between">
                      <div class="border border-dark px-4 py-2 rounded-3">
                          <h4>US AQI 165</h4>
                      </div>
                      <div class="align-self-end">
                          <img style="height: 50px; width: 50px;" src="https://w7.pngwing.com/pngs/183/642/png-transparent-computer-icons-customer-service-livechat-technical-support-maroon-colour-icon-miscellaneous-face-smiley.png">
                      </div>
                  </div>
                  <div class="mt-2">
                      <h2>Unhealthy</h2>
                  </div>
              </div>
          </div>


          <div class="row">
              <div class="aqi-body2">
                  <div class="aqi-overview">
                      <p>Overview</p>
                      <h2>What is the current air quality in Dhaka?</h2>
                  </div>
                  <div class="aqi-table">
                      <table class="table table-dark table-striped table-bordered border-dark">
                          <thead>
                              <tr scope="row">
                                  <th scope="col"><p>Air Quality Level</p></th>
                                  <th scope="col"><p>Air Quality Index</p></th>
                                  <th scope="col"><p>Main pollutant</p></th>
                              </tr>
                          </thead>
                          
                          <tbody><tr scope="row">
                              <td scope="col"><p>Unhealthy</p></td>
                              <td scope="col"><p>165 US AQI <span>Color</span></p></td>
                              <td scope="col"><p>PM 2.5</p></td>
                          </tr>
                      </tbody></table>
                  </div>
              </div>
          </div>
          
      </div>    
  </div>
</div>