<!-- Footer -->
<!-- <div class="myfooter">
    <div class="footerdetails">
        <p>All Rights Reserved by the DBMS group team.</p>
        <p>Group Team Name: Team DB MS Inverse One</p>
        <p>Contact Us in IUB or outside of the institution</p>
        <p>IUB - Independent University Bangladesh</p>
    </div>
</div> -->

<div class="myfooter">
    <!-- Footer -->
    <footer class="text-white text-center text-md-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Team DB MS Inverse One</h5>  
            <p>
                Group Team Name: Team DB MS Inverse One.<br>
                Contact Us in IUB or outside of the institution.<br>
                IUB - Independent University Bangladesh
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="http://www.iub.edu.bd/" class="text-white" target="_blank">Independent University, Bangladesh</a>
              </li>
              <li>
                <a href="http://www.cse.iub.edu.bd/" class="text-white" target="_blank">Computer Science - IUB</a>
              </li>
              <li>
                <a href="https://irasv1.iub.edu.bd" class="text-white" target="_blank">IRAS - IUB</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <a href="http://www.iub.edu.bd/" target="_blank">
              <img src="/images/iubLogo.png" class="bg-transparent border-0 img-fluid img-thumbnail w-50" alt="Hollywood Sign on The Hill"/>
            </a>                                  
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p>© 2022 Copyright: All Rights Reserved by the DBMS group team.</p>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>