<!-- Navbar -->
<nav>
  <a id="headingAnchor" href="/">
      <div class="headingbox">                
          <img class="logo" src="images/background_icon.jpg">
          <h1>Weather <span>PM</span> </h1>
      </div>
  </a>
  <ul class="navbarlist">
      <li><a href="/">Home</a></li>
      <li><a href="graphs">Graphs</a></li>
      <li><a href="rank">Rank</a></li>
      <li><a href="aqi">AQI</a></li>
      <li><a href="signup">Sign Up</a></li>
      <li><a href="about">About</a></li>
      <%- include("./searchbox") -%>
  </ul>
  
  <!-- <div class="menubar"><i class="fa-solid fa-bars"></i></div> -->
  
</nav>



<div>
  <ul class="smallnavlogo">
      <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="graphs"><i class="fa-solid fa-chart-pie"></i></a></li>
      <li><a href="rank"><i class="fa-solid fa-chart-pie"></i></a></li>
      <li><a href="aqi"><i class="fa-solid fa-chart-pie"></i></a></li>
      <li><a href="signup"><i class="fa-solid fa-user-plus"></i></a></li>
      <li><a href="about"><i class="fa-solid fa-circle-info"></i></a></li>
      <%- include("./searchbox") -%>
  </ul>
</div>

