<div class="dropdown_search">
    <li id="dropdownSearch"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
    <div class="dropdown_content">
        <p>Search Table</p>
        <form method="get" action="search">
            <div class="input-group mb-3">
                <input type="text" name="searchtable" class="form-control" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>