<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <a href="signin"><p>Signin</p></a>
</div>
<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <p>Report</p>
</div>