<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <p>Bar Chart</p>
</div>
<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <p>Box Chart</p>
</div>
<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <p>Scatter Chart</p>
</div>
<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <p>Line Chart</p>
</div>
<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <p>Pie Chart</p>
</div>