<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <a href="signin"><p>Sign-In</p></a>
</div>
<div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center" onclick="downloadCVS()">
  <p>Report</p>
</div>
<!-- <div class="bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow card-wrapper text-center">
  <a href="admin"><p>Admin</p></a>
</div> -->
<div class="text-sm" style="pointer-events: none;">

  <div class="flex flex-col">
    <!-- Footer -->
    <footer class=" dark:text-dark-txt">
      <!-- Grid container -->
      <div class="container ">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Team DB MS Inverse One</h5>  
            <p>
                Group Team Name: Team DB MS Inverse One.<br>
                IUB - Independent University Bangladesh
            </p>
          </div>

        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3 rounded" style="background-color: rgba(0, 0, 0, 0.2);">
        <p>© 2022 Copyright: All Rights Reserved by the DBMS group team.</p>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
</div>