<div class="py-2 my-2 mx-2 bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow-sm card-wrapper text-center">
  <p>Signin</p>
</div>
<div class="py-2 my-2 mx-2 bg-white dark:bg-dark-second hover:bg-gray-100 dark:hover:bg-dark-third dark:text-dark-txt shadow-sm card-wrapper text-center">
  <p>Report</p>
</div>