<style>
.graph {
  height: auto;
}
</style>
<div class="card-wrapper">
  <div id='bar1' class="shadow graph"><!-- Plotly chart will be drawn inside this DIV --></div>
</div>
<%- include('./components/graphs/bar_graph_1.ejs') -%>