<div class="alertcontainer">
    <% if(typeof alert != "undefined"){ %> 
        <% for(let i in alert){ %> 
            <div class="alertbox">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong><%= alert[i].msg %></strong><br>
                    Click to close
                 </div>
            </div>
        <% } %>    
    <% } %> 
    
    <% if(typeof reg != "undefined" && reg.status){ %>
    <div class="alertbox">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><%= reg.heading %> </h4>
            <p class="mb-0"><%= reg.text %> </p>
            Click to close
        </div>
    </div>
    <% } %>                    
</div>

<div class="formbox">
    <div class="container mt-5">
        <h1>Sign Up</h1>
        <form class="row g-4" method="post">
            <!--  -->
            <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" name="fname">
            </div>
            <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lname">
            </div>

            <!--  -->
            <div class="col-md-8">
                <label  class="form-label">Email</label>
                <input type="email" class="form-control" name="email">
            </div>
            <div class="col-md-4">
                <label class="form-label">Contact Number</label>
                <input type="text" class="form-control" name="contactNo">
            </div>

            <!--  -->
            <div class="col-md-6">
                <label class="form-label">Date Of Birth</label>
                <input type="date" class="form-control" name="dob">
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5">
                <label class="form-label">Gender</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender"  value="male">
                    <label class="form-check-label" >Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" value="female">
                    <label class="form-check-label" >Female</label>
                </div>
            </div>

            <!--  -->
            <div class="col-md-6">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" name="address">
            </div>
            <div class="col-md-3">
                <label class="form-label">City</label>
                <select class="form-control" name="city">                    
                    <% for(let i in locals.cities){ %>
                        <option><%= cities[i] %> </option>
                    <% } %>     
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label">Zip</label>
                <input type="text" class="form-control" name="zip">
            </div>

            <!--  -->
            <div class="col-md-6">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="col-md-6"></div>

            <!--  -->
            <div class="col-md-12">
                <div class="submitBtn">
                    <button type="submit" class="btn btn-lg btn-block">Submit</button>
                </div>
            </div>
            
            
        </form>
    </div>
</div>












