/******************************************* ALVI ***********************************************/

/* BASE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  
  }
  
  
  body {
    background-color: black;
  }
  
  :root {
    /* --lightnut: rgba(231, 214, 193, 0.808); */
    /* --color: rgb(126,39,39); */
    /* --footerbackground: rgb(126,39,39); */
    --color: rgb(29, 177, 170);
    --fontcolor: rgb(255, 250, 244);
    --footerbackground: rgb(58, 58, 58);
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin: 0;
    padding: 0;
  }
  
  
  .mainpage {
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background.jpg) fixed; */
    background-color: white;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  #preloader {
    background: black url(../images/preloading.gif) no-repeat center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 100%;
    z-index: 50;
  }
  
  nav {
    min-height: 10vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  
  .smallnavlogo {
    height: 6vh;
    width: 100%;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.5);
    list-style-type: none;
    display: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
    outline: none;
  }
  
  .smallnavlogo li a {
    color: rgba(255, 255, 255, 0.897);
    padding: 7px 20px;
    font-size: 20px;
    margin: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  #headingAnchor {
    text-decoration: none;
  }
  
  .headingbox {
    margin-left: 100px;
    color: var(--fontcolor);
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .headingbox .logo {
    height: 70px;
    opacity: 0.6;
    border-radius: 10px;
    margin-right: 15px;
  }
  
  .headingbox span {
    color: var(--color);
  }
  
  .dropdown_content {
    /***/
    display: none;
    overflow: hidden;
    position: absolute;
    right: 150px;
    margin-top: 20px;
    background-color: black;
    padding: 50px 70px;
    padding-left: 15px;
    z-index: 10;
    color: white;
    transition: 2s;
  }
  
  .dropdown_search:hover .dropdown_content {
    display: block;
  }
  
  .dropdown_content:hover {
    display: block;
  }
  
  .navbarlist {
    margin-left: auto;
    margin-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .navbarlist li {
    list-style-type: none;
    margin: 0;
  }
  
  .navbarlist li a {
    color: var(--fontcolor);
    font-size: 25px;
    text-decoration: none;
    padding: 22px 25px;
    border-left: 1px solid rgba(71, 71, 71, 0.815);
    border-right: 1px solid rgba(71, 71, 71, 0.815);
    transition: 0.5s;
    cursor: pointer;
  }
  
  .navbarlist li a:hover {
    background-color: var(--color);
    color: black;
    border-left: 1px solid var(--color);
    border-right: 1px solid var(--color);
  }
  
  
  .nextpage {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(34, 33, 33);
    position: relative;
  }
  
  /* Scroll Bar Design */
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(231, 214, 193, 0.808);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color);
    /* background-color: rgba(169, 43, 173, 0.664); */
  }
  
  /* Scroll Bar Design End */
  
  
  /* FOOTER  */
  .myfooter {
    background-color: var(--footerbackground);
    border-top: 1px solid rgb(66, 66, 66);
  }
  
  /* PAGE SECTION */
  
  .section {
    min-height: 100vh;
    box-shadow: 0px 0px 30px black;
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
  }