.section .content{
	width: 100%;	
}

.section .content .box{
	width: 90%;
    margin: 20px auto;
    padding: 30px;
	min-height: 200px;
	border: 1px solid rgba(255, 255, 255, 0.61);
	overflow: auto;
	color: var(--fontcolor);
	font-size: 15px;
}

.section .content .box:hover{
	background-color: rgba(255, 255, 255, 0.815);
	color: black;
}

.section .content .box::-webkit-scrollbar{
	width: 4px;	
}

.section .content .box::-webkit-scrollbar-track{
	background-color: black;
}

.section .content .box::-webkit-scrollbar-thumb{
	background-color: cadetblue;
}

/* MAP */
.mapsection{
    width: 80%;
    margin: 10px auto;
}



.formbox{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    /* background-color: rgba(184, 37, 37, 0.849); */
    background-color: inherit;
    color: white;    
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.submitBtn{
    margin-top: 20px;
}

.submitBtn .btn{
    width: 60%;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    transition: 0.1s;
}

.submitBtn .btn:hover{
    background-color: green;
    color: white;
}

.alertcontainer{
    width: 70%;
    margin: 0 auto;
}

.alertbox{
    cursor: pointer;
}


.adminloginbox{
    width: 50%;
    margin: 100px auto;
    border: 1px solid grey;
    color: white;
    padding: 30px 40px;
}


.table_container{
    min-height: 80vh;
    max-height: 150vh;
    overflow: hidden;
}

.admincontentbox{
    color: white;
    width: 90%;
    padding: 20px 40px;
    margin: 50px auto;
    border: 1px solid grey;
}

.table_container table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table_container td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table_container th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table_container tr:nth-child(even) {
    background-color: #3f3f3f;
}


